<body>
    <button class="hamburger" onclick="toggleSidebar()">☰</button>
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <img src="hau.ico" alt="Logo">
        </div>
        <h2>Dashboard</h2>
        <a href="home">Home</a>
        <a href="onboarding">Onboarding</a>
        <a href="offboarding">Offboarding</a>
        <a href="employeeinfo">Employee Information</a>
        <div class="dropdown">
            <a class = "none">Dashboard</a>
            <div class="dropdown-content">
                <a href="onboardingana">Onboarding Analytics</a>
                <a href="offboardingana">Offboarding Analytics</a>
                <a href="distribution">Employee Distribution</a>
                <a href="onboardingprogress">Onboarding Report</a>
                <a href="offboardingprogress">Offboarding Report</a>
                <a href="auditlogs">Audit Logs Report</a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>Onboarding Analytics</h1>

        <div class="chart-container">
            <canvas id="onboardingTrend"></canvas>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JV Zulueta</td>
                    <td>Pre-Boarding</td>
                    <td>SOC</td>
                </tr>
                <tr>
                    <td>Kristine Mercado</td>
                    <td>Pre-Boarding</td>
                    <td>SNAMS</td>
                </tr>
                <tr>
                    <td>Cheena Maxine</td>
                    <td>Orientation</td>
                    <td>SAS</td>
                </tr>
                <tr>
                    <td>Louise Salonga</td>
                    <td>New Hire</td>
                    <td>SBA</td>
                </tr>
                <tr>
                    <td>Michael Johnson</td>
                    <td>New Hire</td>
                    <td>SED</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
