<button class="Side" onclick="toggleSidebar()">☰</button>
<div class="sidebar" id="sidebar">
    <div class="logo">
        <img src="hau.ico" alt="Logo">
    </div>
    <h2>Dashboard</h2>
    <a href="home">Home</a>
    <a href="onboarding">Onboarding</a>
    <a href="offboarding">Offboarding</a>
    <a href="employeeinfo">Employee Information</a>
    <div class="dropdown">
        <a class = "none">Dashboard</a>
        <div class="dropdown-content">
            <a href="onboardingana">Onboarding Analytics</a>
            <a href="offboardingana">Offboarding Analytics</a>
            <a href="distribution">Employee Distribution</a>
            <a href="onboardingprogress">Onboarding Report</a>
            <a href="offboardingprogress">Offboarding Report</a>
            <a href="auditlogs">Audit Logs Report</a>
        </div>
    </div>
</div>

<div class="content">
    <h1>Employee Information</h1>
    <div class="search">
      <input type="text" placeholder="Search Employees" [(ngModel)]="searchQuery" (input)="searchEmployee(searchQuery)">
    </div>
  
    <div class="employee-list">
      <div *ngFor="let employee of employees" class="employee-item">
        <span><strong>{{ employee.name }}</strong></span>
        <div class="employee-actions">
          <button class="button" (click)="openModal(employee)">View Details</button>
          <button class="button" (click)="updateEmployee(employee)">Update</button>
          <button class="button" (click)="deleteEmployee(employee)">Delete</button>
          <button class="button" (click)="moveToOffboarding(employee)">Move to Offboarding</button>
        </div>
      </div>
    </div>
  
    <div class="modal-overlay" *ngIf="selectedEmployee">
      <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <h2>{{ selectedEmployee.name }}</h2>
        <p><strong>Contact Number:</strong> {{ selectedEmployee.contact }}</p>
        <p><strong>Email:</strong> {{ selectedEmployee.email }}</p>
        <p><strong>Department:</strong> {{ selectedEmployee.department }}</p>
        <p><strong>Location:</strong> {{ selectedEmployee.location }}</p>
        <p><strong>Employment Type:</strong> {{ selectedEmployee.employmentType }}</p>
        <p><strong>Status:</strong> {{ selectedEmployee.status }}</p>
        <p><strong>Date Hired:</strong> {{ selectedEmployee.dateHired }}</p>
        <p><strong>Document Submitted:</strong> {{ selectedEmployee.documents }}</p>
      </div>
    </div>
  </div>
  