
<body>
    <button class="Side" onclick="toggleSidebar()">☰</button>
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <img src="hau.ico" alt="Logo">
        </div>
        <h2>Dashboard</h2>
        <a href="home">Home</a>
        <a href="onboarding">Onboarding</a>
        <a href="offboarding">Offboarding</a>
        <a href="employeeinfo">Employee Information</a>
        <div class="dropdown">
          <a class = "none">Dashboard</a>
          <div class="dropdown-content">
                <a href="onboardingana">Onboarding Analytics</a>
                <a href="offboardingana">Offboarding Analytics</a>
                <a href="distribution">Employee Distribution</a>
                <a href="onboardingprogress">Onboarding Report</a>
                <a href="offboardingprogress">Offboarding Report</a>
                <a href="auditlogs">Audit Logs Report</a>
            </div>
        </div>
    </div>
    <div class="offboarding-container">
        <h4>Offboarding</h4>
        <div class="form-container">
          <div class="section">
            <h3>Status</h3>
            <div class="form-group">
              <img src="picpro.jpg" alt="User Icon" class="user-icon" />
              <label>Name:</label>
              <input type="text" formControlName="name" placeholder="*Insert Name*" />
            </div>
            <div class="form-group">
              <label>Effective Date Separated</label>
              <input type="date" formControlName="effectiveDate" />
            </div>
            <div class="form-group">
              <label>Clearance Form</label>
              <select formControlName="clearanceForm">
                <option>Select</option>
              </select>
            </div>
            <div class="form-group">
              <label>Certifications</label>
              <select formControlName="certifications">
                <option>Select</option>
              </select>
            </div>
          </div>
      
          <div class="section">
            <div class="form-group">
              <label>Personal Email:</label>
              <input type="email" formControlName="personalEmail" placeholder="Email@gmail.com" />
            </div>
            <div class="form-group">
              <label>Exit Interviews</label>
              <select formControlName="exitInterview">
                <option>Select</option>
              </select>
            </div>
            <div class="form-group">
              <label>Automated Notification</label>
              <select formControlName="automatedNotification">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
      
        <button (click)="submitForm()">Submit</button>
      </div>
</body>
